html{
    background-color: black;
}

h1{
 color: white;
 text-align: center;
 text-transform: uppercase;
 padding-bottom: 5px;
 font-family: 'Libre Baskerville', serif;
}
.Moon{
    width: 600px;
    text-align: center;
    margin-top: 100px;
    margin-left: 30%;
    border: 5px solid white;
}
